/* COLOR PALETTE: 
    BLUE: #1350A0;
    GREEN: #0B9444;

*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* <------ UNIVERSAL -------> */

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #1350A0;
    transform: scale(1.02);
}

/* <----HERO-NAVBAR----> */

.hero-nav {
    margin: 0;
    height: 100vh;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* NAVBAR */

.navbar {
    background: #fff;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    /* border: 2px solid purple; */
}

.navbar .logo-container {
    /* border: 2px solid red; */
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar .logo-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .logo-container a img {
    height: auto;
    max-width: 160px;
}

.navbar .logo-container #ur-logo-container {
    font-size: 8px;
    font-weight: 500;
    color: #1350A0;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    font-family: 'DM Serif Text', serif;
}

.navbar .logo-container #ur-logo-container img {
    max-height: 60px;
}


.navbar .nav-links {
    /* border: 2px solid red; */
    padding: 0 30px;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
}

.navbar .nav-links ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.navbar .nav-links #donate-button {
    padding: 10px 15px;
    background: #0B9444;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar .nav-links ul li a:hover {
    color: #1350A0;
    transform: scale(1.02);
}

.navbar .nav-links #donate-button:hover {
    background-color: #107239;
    color: white;
}

.navbar .nav-cta {
    /* border: 2px solid red; */
    padding: 0 30px;}

.navbar .nav-cta a {
    padding: 20px 15px;
    background-color: #1350A0;
    color: white;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}

.navbar .nav-cta a:hover {
    background-color: #14417c;
}

/* HERO */

.hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid purple; */
    text-align: center;
}

.hero h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: #0B9444;

    margin: 10px auto;

    word-wrap: break-word;
    max-width: 680px;
}

.hero .hero-image {
    background-image: url('./images/about-hero-image.jpeg');
    background-size: cover;
    /* border: 2px solid red; */
    height: 100%;
}

/* <---- VISION - MISSION - STRATEGY - VALUES ----> */

.about-container {
    padding: 20px 70px;
}

/* VISION */

.about-vision {
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.about-vision h1 {
    color: #0B9444;
    font-size: 30px;
    font-weight: 500;
}

.about-vision p {
    font-size: 18px;
    font-weight: 500;
    max-width: 680px;
    margin: 5px auto;
}

/* MISSION */

.about-mission {
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.about-mission h1 {
    color: #0B9444;
    font-size: 30px;    
    font-weight: 500;

}

.about-mission p {
    font-size: 18px;
    font-weight: 500;
    max-width: 680px;
    margin: 5px auto;
}

/* STRATEGY */

.about-strategy {
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.about-strategy h1 {
    color: #0B9444;
    font-size: 30px;
    font-weight: 500;
}

.about-strategy p {
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 1000px;
    margin: 5px auto;
}

/* VALUES */

.about-core-values {
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.about-core-values h1 {
    color: #0B9444;
    font-size: 30px;
    font-weight: 500;
}

.about-core-values .core-values-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;

    /* border: 2px solid red; */
}

.about-core-values .core-values-container .core-value-box {
    width: 30%;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 1px solid #0B9444;
    border-radius: 10px;
}

.about-core-values .core-values-container .core-value-box h1 {
    color: #0B9444;
    font-size: 20px;
    font-weight: 500;
}

/* <---- FOOTER ------> */

.footer {
    display: flex;
    flex-direction: column;
    padding: 10px 90px;
    margin: 30px 0;
    max-height: 100vh;

    /* border: 3px solid red; */
}

.footer-links {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    gap: 10px;
    padding: 10px 30px;
    max-height: 100%;

    /* border: 3px solid black; */
}

/* FOOTER CONTACT */

.footer .footer-links .footer-contact {
    display: grid;
    grid-template-rows: 20% 75%;
    gap: 5%;
    padding: 0 20px;
    max-height: 100%;

    /* border: 2px solid green; */
}

.footer .footer-links .footer-contact img {
    height: 130px;
    width: auto;
    /* border: 2px solid green; */
}

.footer .footer-links .contact-addresses{
    padding: 0 20px;
}

.footer .footer-links .contact-addresses h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #0B9444;

    margin: 15px 0;
}

.footer .footer-links .contact-addresses ul {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer .footer-links .contact-addresses ul li a {
    align-items: center;
    gap: 8px;
    padding: 0;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}



.footer .footer-links .contact-addresses ul li img {
    height: 24px;
    width: auto;
}

.footer .footer-links .contact-addresses ul li p {
    font-size: 14px;
    font-weight: 400;
}

/* FOOTER QUICK LINKS */

.footer-quick-links {
    /* border: 2px solid purple; */
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-quick-links .about-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-quick-links .about-links h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-quick-links .about-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-quick-links .about-links ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-quick-links .about-links ul li a {
    font-size: 14px;
    font-weight: 400;
}

.footer-quick-links .actions-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-quick-links .actions-links h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-quick-links .actions-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-quick-links .actions-links ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-quick-links .actions-links ul li a {
    font-size: 14px;
    font-weight: 400;
}

/* FOOTER LOCATION */

.footer-location {
    /* border: 2px solid purple; */
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-location .location-heading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-location .location-heading h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-location .location-heading ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.footer-location .location-heading ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-location .location-map {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.footer-location .location-map iframe {
    height: 100%;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #0B9444;
}

.footer .footer-text {
    text-transform: uppercase;
    color: #0B9444;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    padding: 10px;

}