/* COLOR PALETTE: 
    BLUE: #1350A0;
    GREEN: #0B9444;

*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins&display=swap');


/* <------ UNIVERSAL -------> */

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #1350A0;
    transform: scale(1.02);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}


.primary-btn {
    padding: 20px 15px;
    background-color: #1350A0;
    color: white;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}

.primary-btn:hover {
    background-color: #14417c;
    transform: scale(1.02);
}

.secondary-btn {
    padding: 10px 15px;
    background: #0B9444;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}

.secondary-btn:hover {
    background-color: #107239;
    color: white;
}


/* NAVBAR */

.navbar {
    background: #fff;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;

    /* border: 2px solid purple; */
}

.navbar .logo-container {
    /* border: 2px solid red; */
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar .logo-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .logo-container a img {
    height: auto;
    max-width: 160px;
}

.navbar .logo-container #ur-logo {
    font-size: 8px;
    font-weight: 500;
    color: #1350A0;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    font-family: 'DM Serif Text', serif;
}

.navbar .logo-container #ur-logo img {
    max-height: 60px;
}

.navbar .nav-links {
    /* border: 2px solid red; */
    padding: 0 30px;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-cta {
    /* border: 2px solid red; */
    padding: 0 30px;
}

/* <----HERO-NAVBAR----> */

.hero-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    /* border: 2px solid purple; */
}

/* HERO SECTION  */

.contact-page-hero {
    display: flex;
    flex-direction: column;
    padding: 20px 80px;
}

.contact-page-hero .contact-page-heading {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.contact-page-hero .contact-page-heading h1 {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0B9444;
    text-align: center;
}

.contact-page-hero .contact-page-heading p {
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.email-contact {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    display: grid;
    text-align: center;
    place-content: center;
    /* border: 2px solid red; */
}

.email-contact h1 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    /* color: #0B9444; */
    text-align: center;
    padding: 20px 0;
}

.email-contact a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.email-contact a img {
    height: 40px;
}

.contact-page-hero .social-media-contact a img {
    height: 24px;
    width: auto;
}

.social-media-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
}

.social-media-contact a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}


/* CONTACT FORM */

.contact-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 70px 0;
    align-items: center;
}

.contact-form .contact-form-heading {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px;
    text-align: center;
}

.contact-form-heading h1 {
    font-size: 25px;
    font-weight: 500;
    color: #0B9444;
    text-transform: uppercase;
}

.contact-form-heading p {
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 900px;
}

.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
    width: 100%;
}

.contact-form-container span {
    color: red;
}

.contact-identification {
    display: flex;
    gap: 20px;
}

.contact-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.contact-form-container .contact-input label {
    font-size: 16px;
}

.contact-identification .contact-input input {
    padding: 10px;
    border: 2px solid #0B9444;
    border-radius: 5px;
}

.contact-identification .contact-input input:focus {
    outline: none;
    border: 2px solid #0B9444;
}

.contact-message .contact-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contact-message .contact-input textarea {
    padding: 10px;
    border: 2px solid #0B9444;
    border-radius: 5px;
    resize: none;
}

.contact-message .contact-input textarea:focus {
    outline: none;
    border: 2px solid #0B9444;
}

.contact-form-container .form-cta {
    display: flex;
    justify-content: center;
}

.contact-form-container .form-cta input[type='submit'] {
    padding: 10px 15px;
    background: #1350A0;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}

.contact-form-container .form-cta input[type='submit']:hover {
    background-color: #14417c;
    transform: scale(1.02);
}

/* <---- MAP CONTAINER ----> */

.map-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 0;
    align-items: center;
    text-align: center;
    height: 100vh;

    /* border: 2px solid red; */
}

.map-container h1 {
    color: #0B9444;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}

.map-container-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    text-transform: uppercase;
}

.map-container-text p {
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    max-width: 900px;
}

.map-box {
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
}

.map-box iframe {
    height: 90%;
    width: 90%;

    border-radius: 5px;
}

/* <----- NEWSLETTER ----->*/

.newsletter-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    align-items: center;
    text-align: center;

    /* border: 2px solid red; */
}

.newsletter-section-heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 30px;
    text-align: center;
}

.newsletter-section-heading h1 {
    color: #0B9444;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
}

.newsletter-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.newsletter-section form input[type="email"] {
    padding: 10px;
    border: 2px solid #0B9444;
    border-radius: 5px;
    width: 100%;
}

.newsletter-section form input[type="email"]:focus {
    outline: none;
    border: 2px solid #0B9444;
}

.newsletter-section form input[type="email"]::placeholder {
    font-size: 16px;
    font-weight: 200;
}

.newsletter-section form input[type="submit"] {
    padding: 10px 15px;
    background: #1350A0;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
}

.newsletter-section form input[type="submit"]:hover {
    background-color: #14417c;
    transform: scale(1.02);
}

/* <---- FOOTER ------> */

.footer {
    display: flex;
    flex-direction: column;
    padding: 10px 90px;
    margin: 30px 0;
    max-height: 100vh;

    /* border: 3px solid red; */
}

.footer-links {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    gap: 10px;
    padding: 10px 30px;
    max-height: 100%;

    /* border: 3px solid black; */
}

/* FOOTER CONTACT */

.footer .footer-links .footer-contact {
    display: grid;
    grid-template-rows: 20% 75%;
    gap: 5%;
    padding: 0 20px;
    max-height: 100%;

    /* border: 2px solid green; */
}

.footer .footer-links .footer-contact img {
    height: 130px;
    width: auto;
    /* border: 2px solid green; */
}

.footer .footer-links .contact-addresses{
    padding: 0 20px;
}

.footer .footer-links .contact-addresses h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #0B9444;

    margin: 15px 0;
}

.footer .footer-links .contact-addresses ul {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer .footer-links .contact-addresses ul li a {
    align-items: center;
    gap: 8px;
    padding: 0;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}



.footer .footer-links .contact-addresses ul li img {
    height: 24px;
    width: auto;
}

.footer .footer-links .contact-addresses ul li p {
    font-size: 14px;
    font-weight: 400;
}

/* FOOTER QUICK LINKS */

.footer-quick-links {
    /* border: 2px solid purple; */
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-quick-links .about-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-quick-links .about-links h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-quick-links .about-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-quick-links .about-links ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-quick-links .about-links ul li a {
    font-size: 14px;
    font-weight: 400;
}

.footer-quick-links .actions-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-quick-links .actions-links h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-quick-links .actions-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-quick-links .actions-links ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-quick-links .actions-links ul li a {
    font-size: 14px;
    font-weight: 400;
}

/* FOOTER LOCATION */

.footer-location {
    /* border: 2px solid purple; */
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-location .location-heading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-location .location-heading h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-location .location-heading ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.footer-location .location-heading ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-location .location-map {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.footer-location .location-map iframe {
    height: 100%;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #0B9444;
}

.footer .footer-text {
    text-transform: uppercase;
    color: #0B9444;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    padding: 10px;

}

/* <------ RESPONSIVENESS ------> */

.responsive {
    display: none;
}

/* HAMBURGER MENU */

.hamburger {
    display: none;
}

.hamburger a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;;
}

.hamburger a svg {
    height: 50px;
    transition: 0.4s;
}

.hero-nav .hide-nav {
    display: none;
    transition: all 0.4s ease-in-out;
}

.responsive-nav {
    display: none;
}

/* <----- MEDIA QUERIES ------->  */

/* TABLET */

@media screen and (max-width: 768px) {

    .navbar {
        padding: 15px 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .logo-container {
        /* border: 2px solid red; */
    }

    .logo img {
        /* border: 2px solid black; */
        height: 20px;
        width: 150px;
    }

    #ur-logo img {
        height: 50px;
    }

    #ur-logo p {
        font-size: 6px;
        text-align: center;
    }

    .navbar .nav-links, .navbar .nav-cta {
        display: none;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger .is-not-active {
        display: none;
        transition: 0.4s;
    }

    .hero-nav .hide-nav {
        display: none;
        transition: all 0.4s ease-in-out;
    }

    /* <---- RESPONSIVE NAV ----> */

    .responsive-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: relative;
        left: 0;
        right: 0;
    }

    .responsive-nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 50px 0;
        left: 0;
        right: 0;

        background-color: white;
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
    }

    .responsive-nav .nav-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        padding: 20px;
    }

    .responsive-nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 20px;
    }

    ul li {
        list-style: none;
    }

    .is-active {
        display: block;
    }

    /* <--- HERO SECTION ---> */

    .contact-page-hero {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 70px;
    }

    .contact-identification {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .map-container {
        height: auto;
    }

    .map-container h1 {
        font-size: 20px;
        text-align: center;
    }

    .map-container-text p {
        font-size: 16px;
        text-align: center;
    }


    .map-box iframe {
        height: 500px;
    }

    /* <----- FOOTER -----> */

    .footer {
        padding: 20px 40px;
    }

    /* FOOTER LINKS  */

    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .footer-quick-links {
        display: flex;
        gap: 30px;
    }

}

/* MOBILE  */
@media screen and (max-width: 420px) {

    .hero-nav {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .logo-container {
        /* border: 2px solid red; */
    }

    .logo img {
        /* border: 2px solid black; */
        height: 20px;
        width: 150px;
    }

    #ur-logo img {
        height: 50px;
    }

    #ur-logo p {
        font-size: 6px;
        text-align: center;
    }

    .navbar .nav-links, .navbar .nav-cta {
        display: none;
        border: 2px solid red;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger .is-not-active {
        display: none;
        transition: 0.4s;
    }

    /* <---- RESPONSIVE NAV ----> */

    .responsive-nav {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: relative;
        left: 0;
        right: 0;
    }

    .responsive-nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 50px 0;
        top: 0;
        left: 0;
        right: 0;

        background-color: white;
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
    }

    .responsive-nav .nav-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        padding: 20px;
    }

    .responsive-nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 20px;
    }

    ul li {
        list-style: none;
    }

    .is-active {
        display: block;
    }

    /* <--- HERO SECTION ---> */

    .contact-page-hero {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
    }

    .email-contact a img {
        height: 40px;
    }

    .email-contact a p {
        font-size: 18px;
    }

    .social-media-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .social-media-contact a {
        flex-basis: 200px;
        gap: 5px;
    }

    .social-media-contact a p {
        font-size: 16px;
    }

    /* <---- CONTACT FORM ----->  */

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 40px;
    }

    .contact-form-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .contact-form-heading h1 {
        font-size: 20px;
    }

    .contact-identification {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .contact-input {
        width: 90%;
    }

    .contact-input input {
        width: 100%;
    }

    .contact-message .contact-input {
        width: 100%;
    }

    .contact-input textarea {
        width: 100%;
        margin: 0 auto;
    }

    /* <---- MAP CONTAINER -----> */

    .map-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        height: auto;
    }

    .map-container h1 {
        font-size: 20px;
    }

    .map-container-text {
        gap: 5px;
    }

    .map-container-text p {
        font-size: 16px;
    }

    .map-box iframe {
        width: 100%;
        height: 300px;
    }

    /* <---NEWSLETTER SECTION --->  */

    .newsletter-section {
        padding: 20px;
    }

    .newsletter-section h1 {
        font-size: 20px;
    }

    .newsletter-section p {
        font-size: 16px;
    }

    .newsletter-section form {
        width: 80%;
    }

    /* <----- FOOTER -----> */

    .footer {
        padding: 20px 40px;
    }

    /* FOOTER LINKS  */

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        height: auto;
    }

    .footer .footer-links .footer-contact {
        padding: 0;
        gap: 5%;
    }

    .footer .footer-links .footer-contact img {
        width: 150px;
        height: auto;
        padding: 0 10px;

        /* border: 2px solid black; */
    }

    .footer .footer-links .contact-addresses {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer .footer-links .contact-addresses ul li img {
        width: 20px;
        height: auto;
        padding: 0;
    }

    /* FOOTER QUICK LINKS */

    .footer-quick-links {
        padding: 20px 0;
        gap: 10px;
    }
}