/* COLOR PALETTE: 
    BLUE: #1350A0;
    GREEN: #0B9444;

*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins&display=swap');


/* <------ UNIVERSAL -------> */

:root {
    --purple: #1350A0;
    --green: #0B9444;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'DM Serif Text', serif;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: var(--purple);
    transform: scale(1.02);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;

    width: 90%;
    margin: 0 auto;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}


.primary-btn {
    padding: 15px 15px;
    background-color: var(--purple);
    color: white;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}

.primary-btn:hover {
    background-color: #14417c;
    transform: scale(1.02);
}

.secondary-btn {
    padding: 10px 15px;
    background: #0B9444;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
}

.secondary-btn:hover {
    background-color: #107239;
    color: white;
}


/* NAVBAR */

.navbar {
    background: #fff;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    /* border: 2px solid purple; */
}

.navbar .logo-container {
    /* border: 2px solid red; */

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#cisd-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#ur-logo {
    font-size: 8px;
    font-weight: 500;
    color: var(--purple);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: 'DM Serif Text', serif;
}

.navbar .logo-container a img {
    height: auto;
    max-width: 160px;
}

.navbar .logo-container #ur-logo img {
    max-height: 60px;
}

.navbar .nav-links {
    /* border: 2px solid red; */
    padding: 0 30px;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-cta {
    /* border: 2px solid red; */
    padding: 0 30px;
}

/* <----HERO-NAVBAR----> */

.hero-nav {
    margin: 0;
    height: 100vh;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}

/* <--- HERO SECTION ---> */

.hero {
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 20px;
    width: 90%;

    margin: 0 auto;
    /* border: 2px solid red; */
}

.hero-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-heading h1 {
    font-size: 35px;
    font-weight: 550;
}

.hero-heading h1 span {
    color: var(--green);
}

.hero-heading p {
    font-size: 18px;
    font-weight: 500;
}

.hero-cta a {
    padding: 15px;
}

.hero-image {
    background-image: url(./images/images/image-7.jpg);
    background-size: cover;
    border-radius: 5px;

    /* border: 2px solid red; */
}


/* <--- DONATE SECTION ---> */

.donate-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0;
}

.donate-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;

    word-wrap: break-word;
    max-width: 80%;

}

.donate-text h1 {
    font-size: 25px;
    font-weight: 550;

}

.donate-text p {
    font-size: 16px;
    font-weight: 500;
}

.donate-text p span {
    color: var(--purple);
    font-size: 700;
}


/* DONATE FORM  */

.donate-form {
    /* border: 2px solid red; */
    border-radius: 5px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.donate-form h1 {
    font-size: 25px;
    font-weight: 550;
    text-transform: uppercase;
}

.donate-form-container {
    border: 1px solid var(--green);
    border-radius: 5px;

    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 5px;
    width: 80%;
}

.input-container input{
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    border: 1px solid rgb(128, 125, 125);
}

.input-container input:focus {
    border: 1px solid var(--green);
}

.input-container span {
    display: flex;
    gap: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.input-container span input {
    width: 100%;
}

.input-container select {
    border-radius: 5px 0 0 5px;
    border: 1px 0 1px 1px solid black;
    outline: none;
    text-align: center;
}

.input-container select:focus {
    border: 1px solid var(--green);
}

.input-container select .selected {
    border: 1px solid var(--green);
}

.input-container #donate-amount {
    border-radius: 0 5px 5px 0;
    border: 1px 1px 1px 0 solid black;
}

.donate-cta {
    width: 50%;
    display: grid;
    text-align: center;
    letter-spacing: 1.1px;
}

.donate-cta a {
    padding: 10px 15px;
    width: 100%;
    margin: 0 auto;
}

/* <---- FOOTER ------> */

.footer {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    max-height: 100vh;

    /* border: 3px solid red; */
}

.footer-links {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    gap: 10px;
    padding: 10px 30px;
    max-height: 100%;

    /* border: 3px solid black; */
}

/* FOOTER CONTACT */

.footer .footer-links .footer-contact {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-height: 100%;

    /* border: 2px solid green; */
}

.footer .footer-links .footer-contact img {
    width: 200px;
    /* border: 2px solid green; */
}

.footer .footer-links .contact-addresses {
    padding: 0 20px;
}

.footer .footer-links .contact-addresses h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #0B9444;

    margin: 15px 0;
}

.footer .footer-links .contact-addresses ul {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer .footer-links .contact-addresses ul li a {
    align-items: center;
    gap: 8px;
    padding: 0;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}



.footer .footer-links .contact-addresses ul li img {
    height: 24px;
    width: auto;
}

.footer .footer-links .contact-addresses ul li p {
    font-size: 14px;
    font-weight: 400;
}

/* FOOTER QUICK LINKS */

.footer-quick-links {
    /* border: 2px solid purple; */
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-quick-links .about-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-quick-links .about-links h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-quick-links .about-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-quick-links .about-links ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-quick-links .about-links ul li a {
    font-size: 14px;
    font-weight: 400;
}

.footer-quick-links .actions-links {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-quick-links .actions-links h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-quick-links .actions-links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.footer-quick-links .actions-links ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-quick-links .actions-links ul li a {
    font-size: 14px;
    font-weight: 400;
}

/* FOOTER LOCATION */

.footer-location {
    /* border: 2px solid purple; */
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-location .location-heading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-location .location-heading h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #0B9444;
    font-weight: 600;
}

.footer-location .location-heading ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}

.footer-location .location-heading ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-location .location-map {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

.footer-location .location-map iframe {
    height: 100%;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #0B9444;
}

.footer .footer-text {
    text-transform: uppercase;
    color: #0B9444;
    font-size: 16px;
    font-weight: 600;
    text-align: center;

    padding: 10px;

}


/* <------ RESPONSIVENESS ------> */

.responsive {
    display: none;
}

/* HAMBURGER MENU */

.hamburger {
    display: none;
}

.hamburger a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;;
}

.hamburger a svg {
    height: 50px;
    transition: 0.4s;
}

.responsive-nav {
    display: none;
}

/* <---- MEDIA QUERIES ----> */

/* 1000 PX  */

@media screen and (max-width: 1000px) {

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .logo-container {
        /* border: 2px solid red; */
    }

    #cisd-logo img {
        /* border: 2px solid black; */
        width: 150px;
    }

    #ur-logo img {
        height: 50px;
    }

    #ur-logo p {
        font-size: 6px;
        text-align: center;
    }

    .navbar .nav-links, .navbar .nav-cta {
        display: none;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger .is-not-active {
        display: none;
        transition: 0.4s;
    }

    .hero-nav .hide-nav {
        display: none;
        transition: all 0.4s ease-in-out;
    }

    /* <---- RESPONSIVE NAV ----> */

    .responsive-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: relative;
        left: 0;
        right: 0;
    }

    .responsive-nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 50px 0;
        left: 10px;
        right: 10px;

        background-color: white;
        border-radius: 5px;
        transition: all 0.4s ease-in-out;
    }

    .responsive-nav .nav-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        padding: 20px;
    }

    .responsive-nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 20px;
    }

    ul li {
        list-style: none;
    }

    .is-active {
        display: block;
    }

}

/* 800 PX */

@media screen and (max-width: 800px) {


    .hero-nav {
        display: grid;
        grid-template-rows: 15% 85%;
        height: 100vh;
    }

    .navbar {
        padding: 15px;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 100%;
    }

    .hero-image {
        height: 50%;
    }

    .hero-text {
        text-align: center;
    }

    .hero-heading h1 {
        font-size: 30px;
    }

    .hero-heading p {
        font-size: 16px;
    }

    /* DONATE SECTION  */

    .donate-section {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .donate-text {
        text-align: center;
    }

    .donate-text h1 {
        font-size: 20px;
    }

    /* <----- FOOTER -----> */

    .footer {
        padding: 20px 40px;
    }

    /* FOOTER LINKS  */

    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px;
        max-height: none;
    }

    .footer-quick-links {
        display: flex;
        gap: 30px;
    }

}

/* 600 PX */

@media screen and (max-width: 600px) {

    body {
        width: 100%;
    }

    .donate-text h1 {
        font-size: 20px;
    }
}

/* 500 PX */

@media screen and (max-width: 500px) {

    .input-container {
        width: 100%;
    }
}

/* MOBILE */

@media screen and (max-width: 420px) {

    /* DONATE SECTION  */

    .donate-form-container {
        width: 80%;
    }

    .donate-section h1 {
        text-align: center;
        font-size: 20px;
    }

    /* <----- FOOTER -----> */

    .footer {
        padding: 20px;
    }

    /* FOOTER LINKS  */

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        height: auto;
    }

    .footer .footer-links .footer-contact {
        padding: 0;
        gap: 5%;
    }

    .footer .footer-links .footer-contact img {
        width: 150px;
        height: auto;
        padding: 0 10px;

        /* border: 2px solid black; */
    }

    .footer .footer-links .contact-addresses {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer .footer-links .contact-addresses ul li img {
        width: 20px;
        height: auto;
        padding: 0;
    }

    /* FOOTER QUICK LINKS */

    .footer-quick-links {
        padding: 20px 0;
        gap: 10px;
    }
}