/* COLOR PALETTE: 
    BLUE: #1350A0;
    GREEN: #0B9444;

*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* <----HERO-NAVBAR----> */

.hero-nav {
    margin: 0;
    height: 100vh;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* NAVBAR */

.navbar {
    background: #fff;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;

    /* border: 2px solid purple; */
}

.navbar .logo {
    height: 100%;
    width: auto;
    /* border: 2px solid red; */
}

.navbar .logo:hover {
    cursor: pointer;
}

.navbar .logo img {
    width: 100%;
    height: 100%;
}

.navbar .nav-links {
    /* border: 2px solid red; */
    padding: 0 30px;
}

.navbar .nav-links ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 30px;
}

.navbar .nav-links ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.navbar .nav-links #donate-button {
    padding: 10px 15px;
    background: #0B9444;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar .nav-links #donate-button:hover {
    filter: brightness(90%);
    color: white;
}

.navbar .nav-links ul li a:hover {
    color: #1350A0;
}

.navbar .nav-cta {
    /* border: 2px solid red; */
    padding: 0 30px;}

.navbar .nav-cta a {
    padding: 20px 15px;
    background-color: #1350A0;
    color: white;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}

.navbar .nav-cta a:hover {
    filter: brightness(90%);
}

/* HERO-SECTION */

.hero {
    height: 100%;
    width: 100%;
    padding: 10px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: white;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('./images/hero-image.png');
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.hero .hero-content .hero-heading {
    /* border: 2px solid black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero .hero-content .hero-heading h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero .hero-content .hero-heading hr {
    width: 250px;
    background-color: #0B9444;
    height: 2px;
    border: none;
}

.hero .hero-content .hero-text {
    padding: 10px;
    margin: 20px 0;
}

.hero .hero-text p {
    font-size: 27px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 1.3px;
}

.hero .hero-text p span {
    color: #0B9444;
}

.hero-cta {
    padding: 10px;
}

.hero-cta a {
    padding: 10px 25px;
    background-color: #1350A0;
    color: white;
    border-radius: 5px;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 400;

    text-decoration: none;
    text-transform: uppercase;
}

/* <------ ABOUT SECTION ------> */

.about {
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 70%;
    gap: 10%;
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    padding: 40px 10px 10px 10px;
}

.about-section h1 {
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 600;
    color: #0B9444;
}

.about-section p {
    font-size: 20px;
    font-weight: 400;
}

.about-section p span {
    text-transform: uppercase;
    color: #0B9444;
    font-weight: bold;
}

.about-section a {
    padding: 10px 15px;
    background-color: #1350A0;
    color: white;
    border-radius: 5px;
    text-decoration: none;

    font-weight: 500;
}

.about-section a:hover {
    filter: brightness(90%);
}

/* <---- THEMATIC AREAS OF ENGAGEMENT ----> */

.thematic-areas {
    display: grid;
    grid-template-columns: 42% 42%;
    gap: 6%;
    padding: 0 70px;
    align-items: center;
    justify-content: center;
}

.thematic-areas .schematic-circle {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.thematic-areas .schematic-circle img {
    width: 100%;
    height: auto;
}

.thematic-areas .thematic-engagement {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.thematic-areas .thematic-engagement h1 {
    font-size: 25px;
    font-weight: 600;
    color: #0B9444;
    text-transform: uppercase;
    padding: 0 20px;

    /* border: 2px solid purple; */
}

.thematic-areas .thematic-engagement ul {
    /* border: 2px solid red; */
    padding: 30px 20px;
}

.thematic-areas .thematic-engagement ul li {
    list-style: none;
    margin: 10px 0;
}

.thematic-areas .thematic-engagement ul li div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.thematic-areas .thematic-engagement ul li div img {
    width: 24px;
    height: auto;
}

.thematic-areas .thematic-engagement ul li div p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 5%;
}